{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/search') }}
{% endblock %}

{% block body_id 'blog_search' %}

{% block main %}
    {% include 'blog/partials/_searchForm.html.twig' with {'path' : path('blog_esearch')} %}

    <div id="results">
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
